services:
  # Start Common Services
  mysql:
    image: mysql:8.0.36 # use same version as aws aurora
    volumes:
      - ./.docker/mysql/schema:/docker-entrypoint-initdb.d:delegated
    healthcheck:
      # We use a command here because a mysqladmin ping will give a false positive before mysql is accepting connections
      # https://chrisguitarguy.com/2023/03/06/waiting-for-mysql-to-be-ready-in-docker-compose/
      test: ['CMD', 'mysql', '-u', 'root', '-e', 'USE finished_startup;']
      interval: 5s
      timeout: 20s
      start_period: 60s
      retries: 30
    command: --default_authentication_plugin=mysql_native_password --sql-mode="NO_ENGINE_SUBSTITUTION" --character-set-server=UTF8MB3 --collation-server=utf8_unicode_ci
    ports:
      - '3306:3306'
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - TZ=UTC

  localstack:
    image: localstack/localstack:3.7.1
    ports:
      - '4566:4566'
    volumes:
      - ./.docker/aws:/etc/localstack/init/ready.d
    environment:
      SERVICES: s3,dynamodb
      DATA_DIR: /tmp/localstack/data
      DOCKER_HOST: unix:///var/run/docker.sock
      LOCALSTACK_HOST: localstack
    healthcheck:
      test:
        - CMD
        - bash
        - -c
        # Wait for Localstack to have init'd all of our services: https://docs.localstack.cloud/references/init-hooks/
        - curl --silent --fail /dev/null http://localhost:4566/_localstack/init/ready | jq -e '.completed == true' > /dev/null || exit 1
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 60

  snowplow:
    image: pocket/snowplow-micro:prod
    environment:
      - MICRO_IGLU_REGISTRY_URL=https://com-getpocket-prod.iglu.snplow.net/api
      - MICRO_IGLU_API_KEY=${SNOWPLOW_IGLU_API_KEY}
    healthcheck:
      test: ['CMD', 'bash', '-c', 'curl -sf localhost:9090/micro/all']
      interval: 5s
      timeout: 10s
      start_period: 10s
      retries: 30
    ports:
      - '9090:9090'

  otlpcollector:
    image: grafana/otel-lgtm
    ports:
      # there are lots more ports available, but these are the only one's
      # currently being used
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 3000:3000 # Grafana


  # Uncomment this if you want to run the collector locally and send to GCP instead of the one used for local development
  # Make sure to have a service json in GOOGLE_APPLICATION_CREDENTIALS_JSON in the .env file
  # otlpcollector:
  #   build:
  #     context: ./servers/otel-collector
  #     dockerfile: Dockerfile
  #   env_file:
  #     - .env
  #   environment:
  #     - DEPLOYMENT_ENVIRONMENT_NAME=local
  #   ports:
  #     # there are lots more ports available, but these are the only one's
  #     # currently being used
  #     - 4317:4317 # OTLP gRPC receiver
  #     - 4318:4318 # OTLP http receiver
  #     - 3000:3000 # Grafana
